@model ResetPasswordVM

@{
    ViewBag.Title = "Account | Reset Password";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - My Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style/Login.css" />
</head>
<body>

    <main class="login-wrapper">
        <div class="login-container">

            <!-- Heading and Logo -->
            <img style="border-radius:30%; object-fit:cover; width:30%; height:30%;" src="~/images/Logo/MyEvently.png" />
            <h2 class="title">Reset Password</h2>

            <form method="post" class="form">
                <div asp-validation-summary="ModelOnly" class="validation-summary"></div>

                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="email" autofocus />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="form-actions">
                    <button class="login-btn">Submit</button>
                    <button type="reset" class="reset-btn">Reset</button>
                </div>
            </form>

            <p class="links">
                [ <a href="/Login">Login</a> ]
            </p>

        </div>
    </main>

    <script>
        $.validator.setDefaults({ ignore: '' });
    </script>
</body>
</html>


