@model List<Feature>

@{
	if (Model != null)
	{
		foreach (var s in Model)
		{
			<div class="create_event_location_result" 
				 data-lat=@s.Geometry.Coordinates[1]
				 data-lon=@s.Geometry.Coordinates[0]
				 >@s.Properties.Formatted</div>
			<hr />
		}

	}
	else
	{
		<div>No Result Found</div>
		<hr />
	}
}
