@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .create_event_event_detail{
        height: 20%;
    }

    div {
        margin: 5px 0;
    }
</style>

<div class="create_event_event_detail" style="display: block; flex:none; width:100%">
    <div class="create_event_picture_container"></div>
    <div>
        <div>Name(ID)</div>
        <div>Date</div>
        <div>Time</div>
        <div>Price</div>
        <div>Address</div>
        <hr>

        <div>CAtegory</div>
        <div>Description</div>
        <div>Email</div>

    </div>

    <button>back</button>
    <button>delete</button>
</div>
