@model int

<button class="home-button" data-ajax-page="/Notification/Notification">
    <i class="ri-notification-line"></i>

@if (Model > 0)
{
    <span id="notification-badge" class="notification-badge">@Model</span>
}

</button>