<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <!--Style-->
        <link rel="stylesheet" href="~/style/App.css">
        <link rel="stylesheet" href="~/style/Loader.css">
        <link rel="stylesheet" href="~/style/Sidebar.css">
        <link rel="stylesheet" href="~/style/Map.css">
        <link  rel="stylesheet" href="~/style/pagination.css"/>
        <link rel="stylesheet" href="~/style/home.css" />
    <link rel="stylesheet" href="~/style/eventDetail.css" />
        <!-- jQuery -->
        <script src="~/scripts/jquery/jquery.min.js" defer></script>

        <!-- Leaflet CSS & JS -->
        <link rel="stylesheet" href="~/scripts/leaflet/leaflet.css" />
        <script src="~/scripts/leaflet/leaflet.js" defer></script>

        <!--App Scripts-->
        <script src="~/scripts/App.js" type="module" defer></script>
        <!-- Remix Icon -->
        <link rel="stylesheet" href="~/scripts/remixicon/remixicon.css" />

        <!--Font style-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        @RenderSection("head",false)
    </head>

    <body>
        <div class="container"> 
        <!-------------------Navbar-------------------------->
            <header class="navbar">
                <div class="left-section">
                 <form class="form-locate">
                    <span class="locate__btn">
                        <i class="ri-map-pin-fill" data-ajax-page="/home/map" >

                        </i>
                       
                    </span>
                    <i class="ri-home-2-fill home hide" data-ajax-page="/" ></i>
                </form>
              
                    <form class="search-form">
                        <span class="search-btn">
                            <i class="ri-search-line"></i>

                        </span>
                        <input class="search-bar " type="search" name="search" id="search">
                  </form>
            </div>
            <div class="right-section">
                <i class="ri-account-circle-fill account"></i>
                <i class="ri-bookmark-fill bookmark"></i>
                
            </div>
            </header>
            <!-------------------Navbar-------------------------->

        <!-------------------Content render section-------------------------->
            <div class="content">

               @RenderBody()

            </div>
        <!-------------------Content render section-------------------------->

        </div>
    @RenderSection("Scripts", required: false)
    </body>

</html>