<div class="sort-container" style="display:flex; align-items:center; gap:10px; font-size:25px;">
    <i class="ri-sort-asc sort-icon"></i>
    <select class="home-button sort-button " style=" font-size:15px;">
        <option value="asc">A-Z</option>
        <option value="desc">Z-A</option>
        <option value="most recent">Most Recent</option>
        <option value="oldest">Oldest</option>
        <option value="most recent">Most Popular</option>
    </select>
</div>
