@using MyEvent.Models
@model IEnumerable<DB.Category>





@{
    ViewBag.Title = "MyEvent";

}

 <style>
   
    
 </style>


<main class="home-container" >

    <div class="Main-view">
     
        <div class="carousel-container">
            <button class="nav-btn prev-btn"><i class="ri-arrow-left-line scroll-icon" ></i></button>
            <button class="nav-btn next-btn"><i class="ri-arrow-right-line scroll-icon"></i></button>
            <div class="card" style="transform:translateX(0px)">
                <img class="banner-img" src="/images/Banner/technologia.png" data-banner="Banner-2" />
            </div>
            <div class="card" style="transform:translateX(1400px)">
                <img class="banner-img" src="/images/Banner/Coming soon.png" data-banner="Banner-1" />
            </div>
            <div class="card" style="transform:translateX(2800px)">
                <img class="banner-img" src="/images/Banner/Red and White Modern Rugby Tournament Banner.png" data-banner="Banner-3" />
            </div>
            <div class="curosoulle-tracker">


             
                
            </div>
        </div>
      
        <div class="nav-type">
           
            <h4 class="nav-lable selected" data-label="All">All</h4>
            <h4 class="nav-lable" data-label="Today">Today</h4>
            <h4 class="nav-lable" data-label="This Weekend">This Weekend</h4>
            <h4 class="nav-lable" data-label="Free">Free</h4>
            @foreach (var e in Model)
            {
               
                 <h4 class="nav-lable" data-label="@e.Name">@e.Name</h4>
                
            }
            
           
        </div>

        <hr style="border: none; height: 0.5px; background-color: #ccc;" />
        <h1 class="title-category">More Event</h1>
        <div class="home-event-container event--all">

           
        </div>
    </div>
   
 
</main>

@section Scripts {
    <script type="module">
        import { init as HomeInit } from '/scripts/HomeScripts/Controller.js';
        
        HomeInit();

    </script>
}
