@using MyEvent.Models
@model IEnumerable<DB.Event>





@{
    ViewBag.Title = "MyEvent";
    var allEvent = Model;
}

 <style>
    
    .home-container {

        flex: 1;
        background: linear-gradient(to bottom, #212020, #000000);
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
        height: 100vh;
        color: white;
    }


    .your-scroll-container {
        overflow-y: scroll;
    }

        /* Width of the scrollbar */
        .home-container::-webkit-scrollbar {
            width: 8px;
        }

        /* Track (background) */
    .home-container::-webkit-scrollbar-track {
            background: #1a1a1a; /* dark track background */
            border-radius: 10px;
        }

        /* Scrollbar thumb (the draggable part) */
    .home-container::-webkit-scrollbar-thumb {
            background-color: white; /* grey thumb */
            border-radius: 10px;
            border: 2px solid #1a1a1a; /* adds space around thumb */
        }

            /* On hover */
    ..home-container::-webkit-scrollbar-thumb:hover {
                background-color: #aaa;
            }

    .carousel-container {
        margin-top:20px;
        margin-bottom:10px;
        position: relative;
        width: 100%;
        max-width: 1400px;
        height: 400px; /* same as card height */
        overflow: hidden;
    }

    .card {
        position: absolute;
        width: 100%;
        max-width: 1400px;
        height: 100%;
        top: 0;
        left: 0;
        transition: transform 0.5s ease;
    } 

    .card img {
            height: 400px;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            border-radius: 10px;
            flex-shrink: 0;
      }

    .nav-lable {
        cursor: pointer;
        transition: all ease-in 0.15s;
       
    }
    .next-btn{
     right:30px;
    }
    .prev-btn{
     left: 30px;
    }
    .scroll-icon {
        color: white;
        font-size:30px;
    }

    .nav-btn {
        z-index:1;
        border-radius: 50%;
        padding: 10px;
        background-color: black;
        border: none;
        position:absolute;
        bottom: 45%;
       cursor:pointer;
       transition:opacity ease-out 0.15s
    }
       .nav-btn:hover{
           opacity:0.8;
       }
    .Main-view {
        width: 100%;
        max-width: 1400px;
        padding: 20px;
        padding-top:0px;
        padding-bottom:120px;
    }

    .home-event-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .card-image {
       margin-bottom: 10px;
        width: 100%;
        height: 180px;
    }

    .home-event-img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit:cover;
        
    }

    .home-event-title{
        font-weight:bold;
        font-size:17px;
        margin-bottom:10px;
    }
    .home-event {
      
        padding: 10px;
        cursor:pointer;
        transition: background-color ease-in 0.15s;
        border-radius: 10px;
        
    }

    .home-event:hover{
            background-color: #333436;
        
    }
    .home-event div{
       
    }
    .nav-type{
        display:flex;
        gap:20px;
    }
    .selected,
    .custom-underline {
        position: relative;
         color:forestgreen
    }
        .selected::after
         {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px; /* Controls how far the underline goes down */
            width: 100%;
            height: 2px;
            background-color: forestgreen;
            
        }

        .custom-underline::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px; /* Controls how far the underline goes down */
            width: 100%;
            height: 2px;
            background-color: forestgreen;
            transition: all ease-in 0.15s;
        }

       .tracker{
            z-index: 1;
           width:10px;
           height:10px;
           border-radius:50%;
           background-color: gray;
           
       }

       .activeTracker{
            background-color: white;
       }

    .curosoulle-tracker{
        position:absolute;
        bottom:20px;
        right:50%;
        display:flex;
        justify-content:center;
        align-items:center;
        gap:10px;
    }
 
 </style>


<main class="home-container" >

    <div class="Main-view">
     
        <div class="carousel-container">
            <button class="nav-btn prev-btn"><i class="ri-arrow-left-line scroll-icon" ></i></button>
            <button class="nav-btn next-btn"><i class="ri-arrow-right-line scroll-icon"></i></button>
            <div class="card" style="transform:translateX(0px)">
                <img class="banner-img" src="/images/Events/jazz.jpg" data-banner="Banner-2" />
            </div>
            <div class="card" style="transform:translateX(1400px)">
                <img class="banner-img" src="/images/Events/hawker-fiesta.jpg" data-banner="Banner-1" />
            </div>
            <div class="card" style="transform:translateX(2800px)">
                <img class="banner-img" src="/images/Events/parade.jpg" data-banner="Banner-3" />
            </div>
            <div class="curosoulle-tracker">


             
                
            </div>
        </div>
      
        <div class="nav-type">
            <h4 class="nav-lable selected" data-label="All">All</h4>
            <h4 class="nav-lable" data-label="Today">Today</h4>
            <h4 class="nav-lable" data-label="This Weekend">This Weekend</h4>
            <h4 class="nav-lable" data-label="Free">Free</h4>
            <h4 class="nav-lable" data-label="Music">Music</h4>
            <h4 class="nav-lable" data-label="Food & Drinks">Food & Drinks</h4>
        </div>

        <hr style="border: none; height: 0.5px; background-color: #ccc;" />
        <h1 class="title-category">More Event</h1>
        <div class="home-event-container event--all">
         
          
        </div>
    </div>
   
 
</main>

@section Scripts {
    <script type="module">
        import { init as HomeInit } from '/scripts/HomeScripts/Controller.js';
        HomeInit();

    </script>
}
