@using MyEvent.Models
@model IEnumerable<DB.Event>


<aside class="sidebar sidebar-result">
    <div class="sidebar__header ">
      
        <div class="user-location">
        </div>

    </div>
    <aside class="sidebar-small hide">

        <i class="ri-arrow-right-line"></i>

    </aside>
    <div class="sidebar__events">
       
        </div>

    <footer>
        H1
    </footer>

    
</aside>





<main class="map-container" >
 
    <div id="map">
        <form class="form-locate">
            <span class="locate__btn">
                <i class="ri-map-pin-fill">

                </i>
                <p style="opacity: 0.7; font-weight: bold;">Find Me!</p>
            </span>
        </form>
        
    </div>

   
</main>

<aside class="sidebar sidebar-details hide">
    <div class="sidebar__event-detail hide"></div>
</aside>