@using MyEvent.Models
@model IEnumerable<DB.Event>





@{
    ViewBag.Title = "MyEvent";
    var allEvent = Model;
}

 <style>
    
    .home-container {

        flex: 1;
        background-color: #212021;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
        height: 100vh;
        color: white;
    }


    .your-scroll-container {
        overflow-y: scroll;
    }

        /* Width of the scrollbar */
        .home-container::-webkit-scrollbar {
            width: 8px;
        }

        /* Track (background) */
    .home-container::-webkit-scrollbar-track {
            background: #1a1a1a; /* dark track background */
            border-radius: 10px;
        }

        /* Scrollbar thumb (the draggable part) */
    .home-container::-webkit-scrollbar-thumb {
            background-color: white; /* grey thumb */
            border-radius: 10px;
            border: 2px solid #1a1a1a; /* adds space around thumb */
        }

            /* On hover */
    ..home-container::-webkit-scrollbar-thumb:hover {
                background-color: #aaa;
            }

    .carousel-container {
        width: 100%;
        max-width: 1400px;
        overflow-x: hidden;
        white-space: nowrap;
        padding: 20px;
        box-sizing: border-box;
    }

    .carousel-track {
        display: flex;
        gap: 20px;
    }

        .carousel-track img {
            height: 400px;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            border-radius: 10px;
            flex-shrink: 0;
        }

    .Main-view {
        width: 100%;
        max-width: 1400px;
        padding: 20px;
        padding-top:0px;
        padding-bottom:120px;
    }

    .home-event-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .card-image {
  
        width: 100%;
        height: 180px;
    }

    .home-event-img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit:cover;
    }

   
    .home-event {
      
        padding: 10px;
      
    
    }
 </style>


<main class="home-container" >

    <div class="Main-view">
        <div class="carousel-container">
            <div class="carousel-track">
                <img src="/images/Events/jazz.jpg" alt="Banner 2" />

                <img src="/images/Events/hawker-fiesta.jpg" alt="Banner 1" />
                
                <img src="/images/Events/parade.jpg" alt="Banner 3" />
            </div>
        </div>

        <h1>More Event</h1>
        <div class="home-event-container event--all">
         
          
        </div>
    </div>

 
</main>

@section Scripts {
    <script type="module">
        import { init as HomeInit } from '/scripts/HomeScripts/Controller.js';
        HomeInit();

    </script>
}
