@using MyEvent.Models
@model IEnumerable<DB.Event>


<aside class="sidebar sidebar-result">
    <div class="user-location">
    </div>
    <aside class="sidebar-small hide">

        <i class="ri-arrow-right-line"></i>

    </aside>
    <div class="sidebar__events">
       
        </div>

    <footer class="pagination">
        <div>Page 1</div>
        <div>Page 2</div>
    </footer>

    
</aside>





<main class="map-container" >
    <div class="Main-view">

    </div>

    <div id="map" class="hide">
  
   
    </div>

   
</main>

<aside class="sidebar sidebar-details hide">
    <div class="sidebar__event-detail hide"></div>
</aside>