@using MyEvent.Models
@model IEnumerable<DB.Category>

@{
    ViewBag.Title = "MyEvent-Map";

}

<aside class="sidebar">
    <div style="display:flex; padding-left:20px;  padding-right:20px;padding-top:10px;margin:0;font-size:25px; align-items:center; justify-content:space-between">
        <button class="home-button filter-button ri-filter-line">
            <div style="font-size:15px; font-family:Roboto; text-align:center;" >Filter</div>
        </button>
        @Html.Partial("_SortPartial")
       </div>
    <div style="display:flex; margin:0;">
        <div class="filter-sidebar hide-element">
            <h1>Filter Events</h1>

            <!-- Event Category -->
            <div class="filter-group">
                <label>Category</label>
                <select name="category">
                    <option value="">All Categories</option>
                    @foreach(var c in Model)
                    {
                        <option value="@c.Name">@c.Name</option>
                    }
               
              
                    <!-- Add more categories -->
                </select>
            </div>

            <!-- Date Range -->
            <div class="filter-group">
                <label>Date Range</label>
                <input type="date" name="StartDate">
                <input type="date" name="EndDate">
            </div>

            <!-- Location -->
            <div class="filter-group">
                <label>Location</label>
                <input type="text" placeholder="City or Area" name="City">
            </div>

          

            <!-- Organizer -->
            <div class="filter-group">
                <label>Organizer</label>
                <input type="text" placeholder="Organizer Name" name="Organizer">
            </div>

     

            <!-- Apply Button -->
            <div class="filter-group">
                <button type="button" id="applyFilters">Apply Filters</button>
            </div>
        </div>
        <div class="sidebar-result">
  
            <div class="sidebar__events">
            </div>

            <footer class="pagination">
           
           
           
            </footer>
        </div>
    </div>


</aside>





<main class="map-container">

    <div id="map" class="map">
    </div>


</main>



@section Scripts{
    <script type="module">
        import { init as SearchInit } from '/scripts/SearchScripts/Controller.js';
        SearchInit();
   
    </script>
}

