@using MyEvent.Models
@model IEnumerable<DB.Category>
@{
    ViewBag.Title = "MyEvent-Map";

}

<aside class="sidebar">
    <div class="filter-sidebar">
        <h1>Filter Events</h1>

        <!-- Event Category -->
        <div class="filter-group">
            <label>Category</label>
            <select>
                <option value="">All Categories</option>
                @foreach(var c in Model)
                {
                    <option value="@c.Name">@c.Name.ToUpper()</option>
                }
               
              
                <!-- Add more categories -->
            </select>
        </div>

        <!-- Date Range -->
        <div class="filter-group">
            <label>Date Range</label>
            <input type="date" name="startDate">
            <input type="date" name="endDate">
        </div>

        <!-- Location -->
        <div class="filter-group">
            <label>Location</label>
            <input type="text" placeholder="City or Area">
        </div>

        <!-- Ticket Price -->
        <div class="filter-group">
            <label>Price</label>
            <select>
                <option value="">All</option>
                <option value="free">Free</option>
                <option value="paid">Paid</option>
            </select>
        </div>

        <!-- Organizer -->
        <div class="filter-group">
            <label>Organizer</label>
            <input type="text" placeholder="Organizer Name">
        </div>

     

        <!-- Apply Button -->
        <div class="filter-group">
            <button type="button" id="applyFilters">Apply Filters</button>
        </div>
    </div>
    <div class="sidebar-result">
  
        <div class="sidebar__events">
        </div>

        <footer class="pagination">
            <button class="home-button" style="font-size:15px">
                <div>Page 1</div>
                </button>
            <button class="home-button" style="font-size:15px">
                <div>Page 2</div>
            </button>
           
           
        </footer>
    </div>
    


</aside>





<main class="map-container">

    <div id="map" class="map">
    </div>


</main>



@section Scripts{
    <script type="module">
        import { init as SearchInit } from '/scripts/SearchScripts/Controller.js';
        SearchInit();
   
    </script>
}

