@{
    ViewBag.Title = "MyEvent-Map";

}

<aside class="sidebar sidebar-result">

    <aside class="sidebar-small hide">

        <i class="ri-arrow-right-line"></i>

    </aside>
    <div class="sidebar__events">
    </div>

    <footer class="pagination">
        <div>Page 1</div>
        <div>Page 2</div>
    </footer>


</aside>





<main class="map-container">

    <div id="map" class="map">
    </div>


</main>



@section Scripts{
    <script type="module">
        import { init as SearchInit } from '/scripts/SearchScripts/Controller.js';
        SearchInit();
   
    </script>
}

